{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-dark p-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-white">Testimonial</h1>
                <a href="{% url 'home' %}">Home</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="{% url 'testimonial' %}">Testimonial</a>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Testimonial Start -->

    {% include 'partials/testimonial_section.html' %}

    <!-- Testimonial End -->
    
{% endblock %}
