{% load static %}

<div class="container-fluid bg-primary text-secondary p-5">
    <div class="row g-5">
        <div class="col-12 text-center">
            <h1 class="display-5 mb-4">Stay Update!!!</h1>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show mx-auto" style="max-width: 600px;" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

            <form method="post" action="{% url 'stayupdate' %}" class="mx-auto" style="max-width: 600px;">
                {% csrf_token %}
                <div class="input-group">
                    {{stayupdate_form.email|default_if_none:'' }}
                    <button class="btn btn-dark px-4" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>